html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: 'Roboto', sans-serif;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border-style: none;
}

[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}